MSRV_DB_HOST="localhost"
MSRV_DB_PORT="5432"
MSRV_DB_USER="postgres"
MSRV_DB_PASS="postgres"
MSRV_DB_NAME="postgres"
MSRV_PORT="9091"
GRPC_ENABLE_TLS="false"
GRPC_PORT="8091"
GRPC_CLIENT_CA_CERT_FILE="cert/ca-cert.pem"
GRPC_SERVER_CERT_FILE="cert/server-cert.pem"
GRPC_SERVER_KEY_FILE="cert/server-key.pem"
WASH_SERVER_RSA_KEYFILE_PATH="~/wash_server_rsa_keyfile"
FIREBASE_KEYFILE_PATH="~/firebase_keyfile.json"
